/* CSS for Portfolio */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.portfolio {
	/* background: url(../../assets/images/portfolio1.jpg) no-repeat; */
	width: 100%;
	height: 100%;
}
.taas {
	height: 75px;
	width: 100%;
	border: 1px dotted #555;
	background-color: #555;
}
.baba {
	height: 150px;
	width: 100%;
	border: 1px dotted #555;
}
.dotted {
	border: 1px dotted #555;
}

img#iconic {
	border-radius: 10px;
	height: 295px;
}

#portcol1 {
	border: 1px dotted grey;
	height: 300px;
}
#portcol2 {
	border: 1px dotted grey;
	height: 300px;
}#portcol3 {
	border: none;
	height: 300px;
	background: url(../../assets/images/photo-tw.png) no-repeat;
}
#portcol4 {
	border: 1px dotted grey;
	height: 300px;
}
#portcol5 {
	border: 1px dotted grey;
	height: 300px;
}


/* Accordion */
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: none;
  background-color: #f1f1f1;
  width: 20%;
  height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: none; 
  width: 80%;
  border-left: none;
  height: 100%;
}