* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: none;
}

.jumbotron {
	height: 100vh;
	/* background-color: grey; */
	/* use a background image */
	background-size: contain;
	background-repeat: none;
}

.containerTranslucent {
	background-color: rgba(211, 211, 211, 0.5);
}
.containerTranslucent:hover {
	background-color: rgba(211, 211, 211, 0.7);
}
.logo {float:left;}
h1 {
	float:left;
	margin: 10px;
	color: #ffffff;
	font-weight: bold;
}
h2 {
	color: #330033;
}
p {
	color: #330033;
}
.carousel-inner img {
	width: 100%;
	height: 100%;
}
.rowAbout {
	border:1px solid black;
	border-radius: 10px;
}
.imgAbout {
	transition: transform 1s;
}
.imgAbout:hover {
	transform: scale(1.1);
}

@keyframes sample {
	from {background-color: white;}
	to {background-color: grey;}
}

.animate_target {
	animation-name: sample;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.portfolio {
	background: url(../../assets/images/portfolio1.jpg) no-repeat;
}
#portcol1 {
	border: 1px dotted grey;
	height: 150px;
}
#portcol2 {
	border: 1px dotted grey;
	height: 150px;
}#portcol3 {
	border: double;
	height: 300px;
}
#portcol4 {
	border: 1px dotted grey;
	height: 300px;
}
#portcol5 {
	border: 1px dotted grey;
	height: 300px;
}